.text-center, h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

.text-right {
  text-align: right;
}

.vertical-center {
  display: flex;
  align-items: center;
}

.top-10vh {
  margin-top: 10vh;
}

body {
  background-image: url(./assets/background.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
}

.home-banner-image {
  background-image: url(./assets/banner.png);
  background-position-x: right;
  background-position-y: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.home-banner-text {
  position: absolute; top: 30vh; right: 20vh; 
  padding-left: 20vh;
}

.sml-banner-image {
  background-image: url(./assets/sml-banner-dark-orange.png);
  background-position-x: center;
  background-position-y: top;
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
  margin-bottom: 30px;
}

.sml-banner-image-teal {
  background-image: url(./assets/sml-banner-dark-teal.png);
  background-position-x: center;
  background-position-y: top;
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
  margin-bottom: 30px;
}

.card {
  width: 100%;
}

.full-width {
  width: 100%;
}

.height-min90vh {
  min-height: 100vh;
}

.height-70vh {
  height: 70vh;
}

.scroll {
  overflow-y: scroll;
}

.width-90pc {
  width: 90%;
}

.width-98pc {
  width: 98%;
}

a:hover, a:link, a:visited , a:active  {
  color: #343434;
}

$theme-colors: (
    "success": #00c2cb, 
    "info": #5ec9cc,
    "danger": #f9a72c,
    "warning": #ffbd59,
    "primary": #8c52ff,
    "dark": #343434
);

.dark-teal-bg {
  background-color: #00c2cb;
}

.dark-teal-text {
  color: #00c2cb;
}

.light-teal-bg {
  background-color: #5ec9cc;
}

.dark-orange-bg {
  background-color: #f9a72c;
}

.dark-orange-text {
  color: #f9a72c;
}

.light-orange-bg {
  background-color: #ffbd59;
}

.purple-bg {
  background-color:  #8c52ff;
}

.purple-text {
  color:  #8c52ff;
}


.dark-grey-bg {
  background-color: #343434;
}

.dark-grey-text {
  color: #343434;
}

.white-bg {
  background-color: white;
}

.white-text {
  color: white;
}

.thin-grey-border {
  border-style: solid;
  border-color: #c0c0c0;
  border-width: 1px;
  border-radius: 5px;
}

.courier {
  font-family: 'Courier New', Courier, monospace
}

.varela {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

@import "~bootstrap/scss/bootstrap.scss";

